@{
    ViewBag.Title = "Home Page";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    
</head>
<body>
    @{
        string year, day, month, time;
        year = DateTime.Now.Year.ToString();
        day = DateTime.Now.DayOfWeek.ToString();
        month = DateTime.Now.Month.ToString();
        time = DateTime.Now.ToShortTimeString();
    }

    <h5>Current Year: @year</h5>
    <h5>Current Day : @day</h5>
    <h5>Current Month: @month</h5>
    <h5>Current Time: @time</h5>

    @{ 
        for (int i = 0; i < 6; i++)
        {
            <h4> Console.WriteLine("Hello world");</h4>
            @* Use h4 to print console writelines *@

        }
    }

   
        @* Single Line Statements *@
        @{var message = "I am Single Line Statements"; }
            @* Inline Markup *@
            <h5>The message is : @message</h5>
        @* Use h5 to print console writelinesto print messages with a variable *@
        @*var is a string which is referanced in <h5>*@

        @* This is Code Block *@
        @{
            var num1 = 5;
            var num2 = 10;
            var result = num1 + num2;
        }
        @* Inline Markup *@
        <h5>Sum of @num1 + @num2 = @result</h5>
    @* Use h5 to print console writelinesto print messages with a variable *@

    @{
        <h5>Url : @Request.Url</h5>
        <h5>File Path : @Request.FilePath</h5>
        <h5>Location : @Request.MapPath(Request.FilePath)</h5>
        <h5>Request Type : @Request.RequestType</h5>
    }

    @{
        string message1 = " ";
        int j = 5;
        if (j < 5)
        {
            message1 = "It is less than 5";
        }
        else
        {
            message1 = "It is greater than 5";
        }
    }
        <h6>@message1</h6>
    @{ 
        string name = "John";
        int age = 20;
        <h5>My name is @name and I am @age years old.</h5>
    }

    @{
        string message2;
        message2 = "Hello Razor";
    }
    <h5>@message2</h5>

    @{ 
        int numone = 5;
        int numtwo = 10;
        int sum = numone + numtwo;
    }
    <h5>The total is @sum</h5>

    @{ 
        string number = "pete";
        int num;

        if(number.IsInt()== true)
        {
            num = number.AsInt();

            <h5>@num is an Integer</h5>
        }else
        {
            <h5>@number is not an integer</h5>
        }
    }

    @{ 
        string a = "false";
        bool b;

        if(a.IsBool()== true)
        {
            b = a.AsBool();
            <h5>@b</h5>
        }
    }
    
    @{ 
        var num5 = 2342;
        DateTime d=DateTime.Now;
        bool t = true;

        <h5>@num5.ToString() is String Now.</h5>
        <h5>@d.ToString() is String Now.</h5>
        <h5>@t.ToString() is String Now.</h5>

    }
    
</body>
</html>